
<h3>Programming Languages</h3>
<ul>
  <li>Python</li>
  <li>C</li>
  <li>C++</li>
  <li>Flutter</li>
</ul>

<h3>Machine Learning & AI</h3>
<ul>
  <li>AI & Machine Learning</li>
  <li>NLP (Natural Language Processing)</li>
  <li>Large Language Models (LLM)</li>
  <li>Deep Learning (TensorFlow, PyTorch, JAX)</li>
  <li>Transformers, LSTM, CNN, SVM, RAG</li>
  <li>Diffusion Models</li>
  <li>Data Processing (Pandas, NumPy, scikit-learn)</li>
  <li>LangChain, LlamaIndex, Ollama</li>
  <li>Vector Databases (ChromaDB, Pinecone)</li>
  <li>Reinforcement Learning</li>
</ul>

<h3>MLOps & Deployment</h3>
<ul>
  <li>Cloud & Application Deployment</li>
  <li>Docker</li>
  <li>CI/CD (Jenkins)</li>
  <li>Flask (Web Framework)</li>
</ul>

<h3>Robotics & Computer Vision</h3>
<ul>
  <li>Computer Vision (OpenCV, YOLO)</li>
  <li>Object Detection</li>
</ul>

<h3>Version Control</h3>
<ul>
  <li>Git, GitFlow, GitHub Actions</li>
</ul>

<h3>Cloud & Backend Development</h3>
<ul>
  <li>AWS, GCP, Firebase</li>
  <li>Databases (PostgreSQL, MySQL, NoSQL)</li>
</ul>

<h3>Cybersecurity</h3>
<ul>
  <li>Ethical Hacking & Penetration Testing</li>
  <li>Vulnerability Management & Assessment</li>
  <li>Security Auditing</li>
  <li>OWASP, Nmap</li>
</ul>


</ul>